# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go command
bin/
build/

# Test binary, if generated
*.test

# Go workspace file
go.work
go.work.sum

# Dependency directories (for Go modules)
vendor/

# IDE directories
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

# MacOS files
.DS_Store

# Environment variables file
.env